body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url("svgs/background.svg");
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}


/********************
Nav Items
********************/

nav {
  text-align: left;
}

.nav-list {
  display: inline-flex;
  list-style: none;
  font-weight: bold;
}

nav ul li {
  margin-right: 30px;
}

.nav-svg {
  height: 12px;
  margin-right: 10px;
}

svg .nav-icon {
  fill: #39add1;
}

nav a:hover, .nav-icon:hover {
  color: red;
  fill: red;
}


/* end nav! */

/********************
Start Logo
********************/

.logo {
  height: 140px;
  width: 120px;
}

.logo-text {
  display: none;
}

/* end logo! */

/********************
Start Corgi
********************/

.corgi-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.inner-flex {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 10px;
}

.coat-color {
  padding-right: 35px;
}

.sable {
  color:#b97f5b;
  fill: currentColor;
 
}

.fawn {
color: #e9aa82; 
fill: currentColor;
}

.red {
color: #824b2d;
fill: currentColor;
}

.stone {
color: #52595e;
}

.hide {
display: none;
}

/* end corgi! */


@media screen and (min-width: 425px) {
  .logo-text {
    display: block;
  }

  .logo-heading {
    display: none;
  }

}
